div{
    display: block;
}

.form-signin {
    max-width: 550px;
    padding: 25px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 20px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 16px;
    font-size: 20px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
#conter{
    height: 1230px;
    /*width: 1536px;*/
    margin-top: 0px;
    display:block;
}
.register_zc{
    margin:5px;
    font-size: 30px;
}
.box_content{
    padding-top: 550px;
    padding-left: 750px;
    /*background-color: salmon;*/
}
.box_login{
    opacity: 0.9;
    background-color: #141C3E;
    /*border:1px black;*/
    border-radius: 5px;
}
.checkbox{
    color:#5bc0de;
}
h1{
    color:#5bc0de;
}
.cuo_wu{color:red;}
.span_shan a{ color:#5bc0de;}
.span_shan{
    color:#5bc0de;
    margin-left: 100px;
    margin-top:5px;
}

